<div class="container mx-auto text-center py-10">
  <h2 class="text-4xl font-bold mb-4">🏎️ Bienvenue sur le Dashboard F1</h2>
  <p class="text-lg text-gray-700">
    Ici, vous pouvez consulter le classement des pilotes et simuler des courses.
  </p>

  <div class="mt-10">
    <a routerLink="/classement"
       class="bg-blue-600 text-white py-3 px-6 rounded-md shadow-md hover:bg-blue-700">
      Voir le Classement
    </a>
    <a routerLink="/generateur-course"
       class="bg-red-600 text-white py-3 px-6 ml-4 rounded-md shadow-md hover:bg-red-700">
      Générer une Course
    </a>
  </div>
</div>
