<div class="w-64 h-screen bg-gray-800 text-white flex flex-col justify-between fixed">
  <!-- Logo / Titre -->
  <div>
    <div class="p-4 text-lg font-bold border-b border-gray-700">
      🏎️ F1 Manager
    </div>
    <!-- Liens de navigation -->
    <div class="m-3 flex flex-col gap-2">
      <div class="hover:bg-gray-700 rounded cursor-pointer p-3"
           [routerLink]="['/']" routerLinkActive="bg-gray-600">
        🏠 Accueil
      </div>
      <div class="hover:bg-gray-700 rounded cursor-pointer p-3"
           [routerLink]="['/classement']" routerLinkActive="bg-gray-600">
        🏆 Classement
      </div>
      <div class="hover:bg-gray-700 rounded cursor-pointer p-3"
           [routerLink]="['/generateur-course']" routerLinkActive="bg-gray-600">
        🏁 Générateur
      </div>
    </div>
  </div>
</div>
