<div class="p-6">
  <h1 class="text-2xl font-bold mb-4">🏆 Classement des pilotes</h1>
  <table class="w-full text-left border-collapse">
    <thead>
    <tr class="bg-gray-800 text-white">
      <th class="p-3">Position</th>
      <th class="p-3">Pilote</th>
      <th class="p-3">Écurie</th>
      <th class="p-3">Points</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pilot of pilotes; let i = index" class="border-b hover:bg-gray-100">
      <td class="p-3">{{ i + 1 }}</td>
      <td class="p-3">{{ pilot.firstname}} {{ pilot.lastname }}</td>
      <td class="p-3">{{ pilot.team }}</td>
      <td class="p-3 font-bold">{{ pilot.points }}</td>
    </tr>
    </tbody>
  </table>
</div>
